/* Variables  */
:root {
    --medium-margin: 10px;
    --large-margin: 18px;
}

/* Styles */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: slategray;
}

h3 {
    color: black;
    font-stretch: ultra-condensed;
    font-style: normal;
    font-weight: bold;
    font-family: cursive;
}

p{
    color: white;
    font-family: "American Typewriter", serif;

}
a{
    margin-left: var(--medium-margin);

}

nav{
    background-color: white;
    width: 100%;
    z-index: 10;
   }