<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.io') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">


        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
              integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
              crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

        {% if title %}
            <title>{{ title }} – Pets for All</title>
        {% else %}
            <title>Pets for All </title>
        {% endif %}
    </head>

    <body>
        <nav>
            <img src="../static/favicon.io" alt="Logo"/>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('page2') }}">Dog Catalogue</a>
            <a href="{{ url_for('page3') }}">Adoption Request Form</a>

            <hr/>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <hr/>
        </footer>
    </body>

</html>
