{% extends "base.html" %}
{% block content %}

        <h3>Thank you for your interest in a pet!</h3>
        <form>
            <p>First name:<input type = "text"></p>
            <p>Last name:<input type = "text"></p>
            <p>Female<input type = "radio"></p>
            <p>Male <input type = "radio"></p>
            <p>Zipcode<input type = "text"></p>
            <p>Cell Phone Number<input type = "text" maxlength="10"></p>
            <p>Date of Birth<input type = "date"></p>
            <p>Zipcode<input type = "text" max="6"></p>
            <a href = "ahuvacheif@gmail.com">Send us an email!</a>
        </form>


{% endblock %}
